# excluded folders
.idea
CMakeFiles*
Testing*

# excluded files
**/cmake_install.cmake
**/Makefile
**/CMakeCache.txt
**/CMakeOutput.log
**/ts-timetracker.cbp
**/CTestTestfile.cmake
install_manifest.txt
ts-test
ts-timetracker
ts-unittest-*