# excluded folders
.idea
cmake*
CMakeFiles*
Testing*

# excluded files
**/cmake_install.cmake
**/Makefile
**/CMakeCache.txt
**/CMakeOutput.log
**/ts-timetracker.cbp
**/CTestTestfile.cmake
ts-test
ts-timetracker